<div class="login-container">
    <div class="app-name">
        <img src="../../../assets/images/2.png"/>
        <!-- <img src="../../../assets/images/logo-t1.png"/> -->
        <!-- <img src="../../../assets/images/logo-icon.png"/> -->
    </div>
    <div class="login">
        <div class="error" *ngIf="errorMsg">{{errorMsg}}</div>
        <div *ngIf="isLoginScreen">
            <div>
                <label>Email</label>
                <input [(ngModel)] = "user.email"  type="text"/>
            </div>
            <div>
                <label>Password</label>
                <input [(ngModel)] = "user.password" type="password"/>
            </div>
        </div>
        <div class="signup" *ngIf="!isLoginScreen">
            <div>
                <label for="name">Prefered Name</label>
                <input id="name" [(ngModel)] = "user.name" type="text"/>
            </div>
            <!-- <div>
                <label>Age</label>
                <input type="number" min=13/>
            </div> -->
            <!-- <div>
                <label>Gender</label>
                <select>
                    <option selected disabled>Select</option>
                    <option>Male</option>
                    <option>Female</option>
                    <option>Others</option>
                </select>
            </div> -->
            <div>
                <label>Contact</label>
                <input  [(ngModel)] = "user.mobile" type="number"/>
            </div>
            <div>
                <label>E-mail</label>
                <input [(ngModel)] = "user.email" type="email"/>
            </div>
            <div>
                <label>Password</label>
                <input [(ngModel)] = "user.password" type="password"/>
            </div>
            <div>
                <label>Confirm Password</label>
                <input [(ngModel)] = "user.confirmPassword" type="password"/>
            </div>
        </div>
        <div>
            <button *ngIf="isLoginScreen" (click)="authenticateAndLogin()">Login</button>
            <button *ngIf="!isLoginScreen" (click)="signupUser()">Signup</button>
            <div *ngIf="isLoginScreen" class="signup-link text-right">Want to register? Click <span class="signup-text" (click)="showSignUpContent(true)">here</span>to Sign Up</div>
            <div *ngIf="!isLoginScreen" class="signup-link text-right">Already registered? Click <span class="signup-text" (click)="showSignUpContent(false)">here</span>to Login</div>
        </div>
    </div>
</div>