/* You can add global styles to this file, and also import other style files */
@import "../../../node_modules/bootstrap/dist/css/bootstrap.min.css";

body{
    font-family: sans-serif;
    color: #ffffff;
}

body .container{
    /* background-image: url('../src/assets/images/background-bg.png'); The image used */
    /* background-color: #cccccc; /*Used if the image is unavailable */
    height: 80vh; /* You must set a specified height */
    min-width: 100vw;
    max-width: 100vw;
    background-color: #edeae5;
    background-position: center; /* Center the image */
    background-repeat: repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    padding: 2em 1em;
    position: fixed;
    top: 10vh;
}

body .container .container-heading{
    font-size: 1.2em;
    font-weight: bold;
    /* color: #5680e9; */
    color: rgb(29, 26, 26);
    padding: 0 0 1em 0;
}

body .link{
    cursor: pointer;
}

input, select {
    display: block;
    margin: 0;
    padding: var(--inputPaddingV) var(--inputPaddingH);
    color: inherit;
    width: 100%;
    font-family: inherit;
    font-size: var(--inputFontSize);
    font-weight: inherit;
    line-height: var(--inputLineHeight);
    border: none;
    border-radius: 0.4rem;
    transition: box-shadow var(--transitionDuration);
    height: 2em;
    background-color: #fff;
  }
  
input::placeholder {
    color: #B0BEC5;
}
  
input:focus, select:focus {
    outline: none;
    box-shadow: 0.2rem 0.8rem 1.6rem var(--colorPrimary600);
}

button{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:1em 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    text-align:center;
    transition: all 0.2s;
}
button:hover{
    outline: 1px solid #ccc;
    background-color:#FFFFFF;
}
@media all and (max-width:30em){
    button{
        display:block;
        margin:0.4em auto;
    }
}