<div class="footer-container row">
    <div class="nav-menu text-center col"><img class="link" (click)="navigate('potentialMatches')" src="../../../assets/images/potential-match.png"/></div>
    <div class="nav-menu text-center col"><img class="link" (click)="navigate('match')" src="../../../assets/images/match.png"/></div>
    <div class="nav-menu text-center col"><img class="link" (click)="navigate('question')" src="../../../assets/images/question.png"/></div>
    <div class="nav-menu text-center col"><img class="link" (click)="navigate('preferences')" src="../../../assets/images/preferences.png"/></div>
</div>
