<div class="profile-container">
        <div class="container-heading">Profile Information</div>
        <div>
            <label>Prefered Name</label>
            <input type="text"/>
        </div>
        <div>
            <label>Age</label>
            <input type="number" min=13/>
        </div>
        <div>
            <label>Gender</label>
            <select>
                <option selected disabled>Select</option>
                <option>Male</option>
                <option>Female</option>
                <option>Others</option>
            </select>
        </div>
        <div>
            <label>Contact Number</label>
            <input type="number"/>
        </div>
        <div>
            <label>E-mail</label>
            <input type="email"/>
        </div>
        <div>
            <a href="#">Reset password</a>
        </div>
    </div>