<div class="question-container">
    <div class="container-heading">Please select appropriate illustration</div>
    <div class="question-text text-center" *ngIf="questionStack">{{questionStack[currentIndex].question_text}}</div>
    <div class="image-container" *ngIf="questionStack">
        <div class="img-left"><img (click)="executeAndfetchNextQuestion(questionStack[currentIndex].answer_1_id, questionStack[currentIndex].question_id)" src="../../../assets/question_images/{{questionStack[currentIndex].answer_1_id}}.jpg"/></div>
        <div class="txt">OR</div>
        <div class="img-right"><img (click)="executeAndfetchNextQuestion(questionStack[currentIndex].answer_2_id, questionStack[currentIndex].question_id)" src="../../../assets/question_images/{{questionStack[currentIndex].answer_2_id}}.jpg"/></div>
    </div>
</div>