.preferences-container{
    color: #000;
}

.preferences-container div{
    line-height: 18px;
    margin-bottom: 10px;
}

.align-cntr{
    text-align: center;
}

.wdth{
    width: 12em;
}

.display-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 80%;
}