<div class="preferences-container">
    <div class="container-heading">Preferences</div>
    <div>
        <label>Preferred City</label>
        <input type="text"/>
    </div>
    <div>
        <label>Gender</label>
        <select>
            <option selected disabled>Select</option>
            <option>Male</option>
            <option>Female</option>
            <option>Others</option>
        </select>
    </div>
    <div>
        <label>Intrested In</label>
        <select>
            <option selected disabled>Select</option>
            <option>Male</option>
            <option>Female</option>
            <option>Others</option>
        </select>
    </div>
    <div>
        <label>Age</label>
        
    </div>
</div>