<div class="preferences-container">
    <div class="container-heading">Preferences</div>
    <div>
        <label>Preferred City</label>
        <input type="text"/>
    </div>
    <div>
        <label>Gender</label>
        <select>
            <option selected disabled>Select</option>
            <option>Male</option>
            <option>Female</option>
            <option>Others</option>
        </select>
    </div>
    <div>
        <label>Intrested In</label>
        <select>
            <option selected disabled>Select</option>
            <option>Male</option>
            <option>Female</option>
            <option>Others</option>
        </select>
    </div>
    <div>
        <label>Age</label>
        <div class="display-flex">
            <input class="wdth" type="number" placeholder="Enter minimum age" min="13"/>
            <div>to</div>
            <input class="wdth" type="number" placeholder="Enter maximum age" min="13"/>
        </div>
    </div>
    <div class="align-cntr">
        <button>Update</button>
    </div>
</div>